{{- $List := index .Context.Site.Data.external .Namespace -}}
{{- with $List -}}
    {{- range . -}}
        {{- if eq .type "script" -}}
         {{- if eq .src "local-vibrant" -}}
         {{ $vibrantJS := resources.Get "lib/vibrant.js" | resources.ExecuteAsTemplate "lib/vibrant.js" . | minify }}
            <script 
                src="{{ $vibrantJS.RelPermalink }}"
                {{- with .integrity -}}
                integrity="{{ . }}"
                {{- end -}}
                crossorigin="anonymous"
                {{ if .defer }}defer{{ end }}
                >
            </script>
            {{- else -}}
            <script 
                src="{{ .src }}"
                {{- with .integrity -}}
                integrity="{{ . }}"
                {{- end -}}
                crossorigin="anonymous"
                {{ if .defer }}defer{{ end }}
                >
            </script>
        {{- end -}}
        {{- else if eq .type "style" -}}
            <link 
                rel="stylesheet" 
                href="{{ .src }}"
                {{- with .integrity -}}
                integrity="{{ . }}"
                {{- end -}}
                crossorigin="anonymous"
            >
        {{- else -}}
            {{- errorf "Error: unknown external resource type: %s" .type -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- errorf "Error: external resource '%s' is not found" .Namespace -}}
{{- end -}}