{{- $List := index .Context.Site.Data.external .Namespace -}}
{{- with $List -}}

    {{- range . -}}
    {{- if eq .type "script" -}}

        {{- if eq (substr .src 0 1) "@" -}}
            {{ $path := (substr .src 1) }}
            {{ $JS := resources.Get $path | minify | resources.Fingerprint "sha512"}}

            <script src="{{ $JS.RelPermalink }}" integrity="{{ $JS.Data.Integrity }}"
                crossorigin="anonymous" {{ if .defer }}defer{{ end }}>
            </script>

        {{- else -}}

        <script src="{{ .src }}" {{- with .integrity -}} integrity="{{ . }}" {{- end -}} crossorigin="anonymous" {{ if .defer
            }}defer{{ end }}>
        </script>

        {{- end -}}

    {{- else if eq .type "style" -}}

        {{- if eq (substr .src 0 1) "@" -}}
            {{ $path := (substr .src 1) }}
            {{ $CSS := resources.Get $path | resources.ToCSS | resources.PostCSS  (dict "config" "./postcss.config.js") | minify | resources.Fingerprint "sha512" }}

            <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" integrity="{{ $CSS.Data.Integrity }}"
                crossorigin="anonymous">

        {{- else -}}
            
            <link rel="stylesheet" href="{{ .src }}" {{- with .integrity -}} integrity="{{ . }}" {{- end -}}
                crossorigin="anonymous">

        {{- end -}}

    {{- else -}}

    {{- errorf "Error: unknown external resource type: %s" .type -}}

    {{- end -}}
    {{- end -}}
    {{- else -}}
    {{- errorf "Error: external resource '%s' is not found" .Namespace -}}

{{- end -}}