body {
	--base-font-family: "Fira Sans", "Noto Serif SC", "Noto Color Emoji", serif !important;
	--article-font-size: 13pt !important;
	--article-font-family: var(--base-font-family);
	--body-background: white !important;
}

&[data-scheme="dark"] body {
	--body-background: #303030 !important;
}

.showWhenPrint {
	display: block !important;
}

.sidebar,
.related-content--wrapper,
.disqus-container,
.artalk,
.social-menu,
.hamburger-box,
.widget-icon,
.widget-title {
	display: none !important;
}

.container {
	padding: 0 !important;
}

article
	a:not(
		.article-category > a,
		.article-tags > a,
		.article-title > a,
		.article-image > a,
		.gallery-image > a,
		#TableOfContents a
	) {
	text-decoration: underline !important;

	&::after {
		content: " (" attr(href) ")";
	}
}

.site-footer > .copyright a::after {
	content: " (" attr(href) ")";
}

article .article-title {
	font-size: 2em !important;
}

article,
.article-category > a,
.article-tags > a {
	color: var(--card-text-color-tertiary) !important;
	background-color: transparent !important;

	font-size: 13px;
	padding: 0px;

	box-shadow: none !important;
}

article {
	font-size: 13pt;
}

* {
	page-break-inside: avoid;
}

.main,
article > *,
article,
article blockquote {
	page-break-inside: auto;
}

.article-details,
.article-content,
.article-footer,
.site-footer,
.article-content > ol {
	padding: 20px 20px !important;
}

.article-footer {
	margin: 0 !important;
}

.article-tags::before {
	content: "Tags: ";
	font-size: 13px;
}

.article-category::before {
	content: "Categories: ";
	font-size: 13px;
}

.article-content hr,
footer.site-footer:before {
	display: block !important;
	height: 3px !important;
	width: 100px !important;
	background: #707070 !important;
	margin-bottom: 20px !important;
	border: 0 !important;
	opacity: 1 !important;
}

.pagination {
	box-shadow: none !important;
	border-radius: 0px !important;
}

.article-header {
	margin-top: calc(var(--card-padding) + 20px) !important;
}
